@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #eee;
  background-color: #000;
  font-family: "Montserrat", "fantasy";
  background-image: url(./Assets/night.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.35em;
  line-height: 2;
  letter-spacing: 2px;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #111;
}

body::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.cards {
  padding: 4vh 8vw;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
}

header .logo {
  width: 50%;
  margin-bottom: 30px;
}
header .graves {
  position: absolute;
  bottom: -2px;
  right: -1px;
  width: 40%;
  opacity: 0.02;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.container {
  border: 3px solid rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.inner {
  border: 3px solid rgba(255, 255, 255, 0.9);
  position: fixed;
  inset: 3px;
  margin: 1px;
}
.inner2 {
  border: 3px solid rgba(255, 255, 255, 0.9);
  position: fixed;
  inset: 7px;
  margin: 1px;
}
.flex {
  display: flex;
  margin: 10px 0px;
}
.flex-img {
  display: flex;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  margin: 40px;
}
.main-card {
  border: 1px solid #313747d5;
  margin-top: 50px;
  padding: 40px 80px 80px 80px !important;
  width: 100% !important;
  margin-bottom: 40px;
  border-radius: 25px;
  background-color: rgba(24, 29, 43, 0.5);
  backdrop-filter: blur(30px) saturate(50%);
  -webkit-backdrop-filter: blur(30px) saturate(50%);
}
.card {
  display: none;
  position: relative;
  border: 1px solid #313747d5;
  padding: 40px 60px 120px 60px !important;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 25px;
  background-color: rgba(24, 29, 43, 0.5);
  backdrop-filter: blur(30px) saturate(50%);
  -webkit-backdrop-filter: blur(30px) saturate(50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header.main-card {
  border-top: none;
}

.point {
  font-family: "Papyrus", "fantasy";
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  /* border: 0.5px solid #313747d5; */
  /* backdrop-filter: blur(1px) saturate(70%);
  -webkit-backdrop-filter: blur(1px) saturate(70%); */
}
.flex h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 2.25rem;
}

.cross {
  position: fixed;
  top: 10px;
  left: 10px;
  opacity: 0.9;
}
.cross2 {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.9;
  transform: rotate(180deg);
}
.cross3 {
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 0.9;
  transform: rotate(90deg);
}
.cross4 {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 0.9;
  transform: rotate(270deg);
}

#zombie {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  display: none;
}

#first-card {
  display: block;
}

.next {
  position: absolute;
  bottom: 40px;
  right: 60px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.prev {
  position: absolute;
  bottom: 40px;
  left: 60px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.prev:hover,
.next:hover {
  transform: scale(1.2);
}

.scroll_indicator {
  display: block;
  margin: 0 auto;
  width: 34px;
  height: 34px;
  margin-top: 20px;
}

.scroll_arrows {
  display: block;
  transform: rotate(45deg);

  border-right: 1.5px solid #ddd;
  border-bottom: 1.5px solid #ddd;
  margin: 0 0 3px 4px;

  width: 25px;
  height: 25px;
}

.first {
  margin-top: 1px;
}

.first,
.second,
.third {
  -webkit-animation: mouse-scroll 1.5s infinite;
  animation: mouse-scroll 1.5s infinite;
}

.first {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  -webkit-animation-delay: alternate;
  animation-delay: alternate;
}

.second {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.4s;
  animation-direction: alternate;

  margin-top: -6px;
}

.third {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.6s;
  animation-direction: alternate;

  margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

strong {
  border: 2px solid white;
  border-radius: 20px;
  padding: 30px 50px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
strong:hover {
  background-color: #313747d5;
  transform: scale(1.1);
}

.card-container {
  position: relative;
  height: 100%;
}

ul {
  position: absolute;
  bottom: 51px;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  z-index: 0;
  pointer-events: none;
}

.dots {
  background-color: #313747d5;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 25px;
  backdrop-filter: blur(25px) saturate(80%);
  -webkit-backdrop-filter: blur(25px) saturate(80%);
  transition: all 0.1s ease-in-out;
}

.active {
  background-color: #b9c2ddd5;
  transform: scale(1.3);
}

.svg-img {
  max-height: 200px;
  width: 60%;
}

.svg-img-2 {
  max-height: 200px;
  width: 50%;
}

div > p,
header > p {
  line-height: 1.8;
  font-weight: 200;
}

div > p {
  margin: 0 10vw;
}

h1,
h2 {
  font-weight: 300;
}

p b {
  font-weight: 400;
}

.inner-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
}

@media screen and (max-width: 1000px) {
  .cards {
    padding: 2vw 4vh;
  }
}

@media screen and (max-width: 800px) {
  .main-card {
    transform: scale(0.8);
  }
  .card {
    transform: scale(0.8);
  }
  ul {
    transform: scale(0.5);
    bottom: 150px;
  }
}

@media screen and (max-width: 400px) {
  img {
    transform: scale(0.5);
  }
}
